
header {
    background-color: gray;
    text-align: center
}

.navs > li {
    float:left;
}

ul, ol {
    list-style:none;
    overflow: hidden;
}


.navs li a {
    background-color:rgb(119, 139, 143);
    color:rgb(0, 0, 0);
    padding:1px 40px;
    display:block;
    
}

.navs li a:hover {
    background-color:rgb(0, 0, 0);
}

.navs li ul {
    display:none;
    position:absolute;
    min-width:140px;
    font-size:80%;
    font-weight: 100;
   
}

.navs li:hover > ul {
    display:block;
}

.navs li ul li {
    position:relative;
}

.navs li ul li ul {
    right:-140px;
    top:0px;
    
}

p { 
  color: blueviolet
} 

ul#menu li a:hover {
    background-color:yellow;
}

.foto2{
width: 30%;
text-align: right;
}

.foto1{
    width: 60%;
}

footer{
    background-color: gray;
    text-align: center;
    font-weight: 50%;
    font-size: 200%;
    
}

table{
    border: rgb(112, 146, 175);
}

.situacion{
    text-align: right
}
    
    
.qwer{
    text-align: center;

}

p.derecha {
    text-align: right;
    color: blueviolet;
    width: 30%;
    
}
.derecha {
    text-align: right;
    color: blueviolet;
    width: 30%;
}

td.derecha {
    text-align: right;
    color: blueviolet;
    width: 30%;
}

iframe {
    width: 40%;
    height: 60%;
}